bin/
obj/
dist/
WDC_log/
temp/
src/dist/

.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

*.log
*.tmp
*.bak
*.cache
*.dirs
*.props
*.targets
!Directory.Build.props
!Directory.Build.targets

*.exe
*.exe.config
*.pdb
*.dll
*.lib
*.exp
*.res
*.resources
*.baml
*.g.resources
*.AssemblyInfo.cs
*.AssemblyAttributes.cs
*.editorconfig
*.FileListAbsolute.txt
PublishOutputs.*.txt

*.zip
*.7z
*.rar
*.nupkg
*.snupkg
